@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: aliceblue;
}

.testimonials {
  position: relative;
  margin-top: 30px;

}
.testimonials h2 {
  font-size: 30px;
  text-align: center;
  color: #333333;
  margin-bottom: 50px;
}
.testimonials .owl-stage-outer {
  padding: 30px 0;
}
.testimonials .owl-nav {
  display: none;
}
.testimonials .owl-dots {
  text-align: center;
}
.testimonials .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #01b0f8;
  margin: 0 5px;
}
.testimonials .owl-dots .active {
  box-shadow: none;
}
.testimonials .owl-dots .active span {
  background: #01b0f8;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}
.testimonials .card {
  background: rgb(255, 255, 255);
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
  
}
.testimonials .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 100px;
  height: 100px;
  
}
.testimonials .card h5 {
  color: #01b0f8;
  font-size: 21px;
  line-height: 1.3;
}
.testimonials .card h5 span {
  font-size: 18px;
  color: #666666;
}
.testimonials .card p {
  font-size: 18px;
  color: #555;
  padding-bottom: 15px;
  
}
.testimonials .active {
  opacity: 0.5;
  transition: all 0.3s;
}
.testimonials .center {
  opacity: 1;
}
.testimonials .center h5 {
  font-size: 24px;
}
.testimonials .center h5 span {
  font-size: 20px;
}
.testimonials .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}

@media (max-width: 767px) {
  .testimonials {
    margin-top: 20px;
  }

}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  outline: 0;
}
.owl-carousel button.owl-dot {
  outline: 0;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.727);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(247, 16, 16);
  border-radius: 2rem;
}

/* header components */
.menu-item{
  cursor: pointer;
}


@media (max-width:1024px){

 
/* 
.menu-item:nth-child(2) .sub-menu{
 background-color: aqua;
 display: none;
 visibility: hidden;
 transition: 1s ease-in all  ;
}

.menu-item:nth-child(2):hover > .sub-menu{
 display: block;
 visibility: visible;
 height: fit-content;
}
.menu-item:nth-child(3) .sub-menu{
 background-color: aqua;
 display: none;
 visibility: hidden;
 transition: 1s ease-in all  ;
}

.menu-item:nth-child(3):hover > .sub-menu{
 display: block;
 visibility: visible;
 height: fit-content;
}
.menu-item:nth-child(5) .sub-menu{
 background-color: aqua;
 display: none;
 visibility: hidden;
 transition: 1s ease-in all  ;
}

.menu-item:nth-child(5):hover > .sub-menu{
 display: block;
 visibility: visible;
 height: fit-content;
} */
}


@media (min-width:1024px){

.menu-item:nth-child(2):hover >.sub-menu{
 visibility: visible;
 transition: 0.3s ease-in-out;
 transform: translateY(2rem);
 opacity: 1;
}
.menu-item:nth-child(3):hover >.sub-menu{
 visibility: visible;
 transition: 0.3s ease-in-out;
 transform: translateY(2rem);
 opacity: 1;
}
.menu-item:nth-child(5):hover >.sub-menu{
 visibility: visible;
 transition: 0.3s ease-in-out;
 transform: translateY(2rem);
 opacity: 1;
}



.menu-item:nth-child(2)::after,.menu-item:nth-child(3)::after,.menu-item:nth-child(4)::after,.menu-item:nth-child(5)::after,.menu-item:nth-child(6)::after{
  z-index: -1;
  transition: .3s linear;
  content: "";
  position: absolute;
  background: rgb(255, 255, 255);
  
  height: 2px;
  width: 0px;

}
.menu-item:nth-child(1)::after{
  height: 2px;
  width: 0px;
  background: rgb(255, 255, 255);
  position: absolute;
  content: "";
  z-index: -1;
  width: 85px;
  top: 78px;
  left: 20%;
}
.menu-item:nth-child(2)::after{

  top: 78px;
  left: 29.2%;
}
.menu-item:nth-child(3)::after{

  top: 78px;
  left: 39%;
}
.menu-item:nth-child(4)::after{

  top: 78px;
  left: 48.5%;
}
.menu-item:nth-child(5)::after{

  top: 78px;
  left: 59%;
}
.menu-item:nth-child(6)::after{

  top: 78px;
  left: 70%;
}

.menu-item:nth-child(1):hover:after{
  width: 85px;
}
.menu-item:nth-child(2):hover:after{
  width: 85px;
}
.menu-item:nth-child(3):hover:after{
  width: 85px;
}
.menu-item:nth-child(4):hover:after{
  width: 85px;
}
.menu-item:nth-child(5):hover:after{
  width: 85px;
}
.menu-item:nth-child(6):hover:after{
  width: 85px;
}




.Navbar.sticky{
  position: fixed;
  width: 100%;
  background:  red !important; 
  top: 0;
  z-index: 5;  
 
}
}